.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 5px 15px;
  border-radius: 3px;
  text-align: center;
  color: #0c2d49;
  border: 1px solid #a0a0a0;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
  color: #722040;
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}
