.last-news {
  margin-bottom: 15px;

  &__heading {
    margin-bottom: 20px;
  }

  &__title {
    border-bottom: 1px solid $colorBorder;
    padding-bottom: 7px;
    margin-bottom: 4px;
  }

  &__descr {
    font-size: 1.077rem;
  }

  &__items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 -10px 10px;
  }

  &__item {
    max-width: 374px;
    flex: 0 0 33.33333333%;
    padding: 0 10px;
  }

  &__buttons {
    text-align: right;
  }

  &__btn-more {
    padding: 7px 12px 6px;
  }
}

.news-prev {
  $this: &;

  &__thumb {
    padding: 2px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 11px;
    position: relative;

    img {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background: rgba(0, 0, 0, 0.3);
      transition: 0.3s ease-in-out;
    }
  }

  &__title {
    font-size: 1.083rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid $colorBorder;
    padding-bottom: 7px;
    margin-bottom: 15px;
    color: $colorHeading;
  }

  &__descr {
    line-height: 1.45;
    margin-bottom: 13px;
    color: $colorMeta;
  }

  &__date {
    text-align: right;
  }

  &:hover {
    #{$this}__thumb {
      &::before {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 992px) {
  .last-news {
    margin-bottom: 30px;

    &__items {
      margin: 0 -10px 10px;
    }

    &__item {
      padding: 0 10px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 768px) {
  .last-news {
    text-align: center;

    &__items {
      justify-content: center;
    }

    &__item {
      max-width: 50%;
      flex: 0 0 50%;
    }

    &__buttons {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .btn {
        max-width: 49%;
        flex: 0 0 49%;
      }
    }
  }

  .news-prev {
    &__date {
      text-align: center;
    }
  }
}

@media (max-width: 520px) {
  .last-news {
    &__items {
      justify-content: center;
    }

    &__item {
      max-width: 336px;
      flex: 0 0 100%;
    }
  }
}
