.pay-description {
  margin-bottom: 27px;

  &__heading {
    margin-bottom: 11px;
  }

  &__title {
    border-bottom: 1px solid $colorBorder;
    padding-bottom: 14px;
    font-size: 1.417rem;
  }

  &__columns {
    display: flex;
    flex-flow: row wrap;
  }

  &__column {
    &--1 {
      flex: 1;
    }

    &--2 {
      max-width: 440px;
      flex: 0 0 440px;
      padding: 20px 0 20px 40px;
      text-align: right;

      img {
        padding: 2px;
        background: #fff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
        margin-bottom: 17px;
      }

      .btn {
        min-width: 150px;
      }
    }
  }

  &__head {
    color: $colorMeta;

    h4 {
      font-size: 1.083rem;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 10px;
      font-style: italic;
      line-height: 1.4;

      li {
        padding-left: 10px;
        display: block;
        position: relative;
      }

      li::before {
        content: "-";
        position: absolute;
        left: 1px;
      }
    }
  }

  &__content {
    color: $colorMeta;
    padding-left: 38px;

    h4 {
      font-size: 1.167rem;
    }

    ul {
      padding: 0 0 0 20px;
      margin: 0 0 10px;
      line-height: 1.4;
    }
  }
}

@media (max-width: 992px) {
  .pay-description {
    &__column {
      &--1 {
        max-width: 50%;
        flex: 0 0 50%;
      }

      &--2 {
        max-width: 50%;
        flex: 0 0 50%;
      }
    }
  }
}

@media (max-width: 768px) {
  .pay-description {
    &__column {
      &--1 {
        max-width: 100%;
        flex: 0 0 100%;
      }

      &--2 {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0 0 20px 0;
        text-align: center;

        img {
          margin: 0 auto 15px;
        }
      }
    }

    &__content {
      padding: 0;
    }
  }
}
