//Susy configuration
//Documentation http://susydocs.oddbird.net/en/latest/
$spacer: 20px;

$img: "../img/"; //images path
$fonts: "../fonts/"; //fonts path

//Basic project styles
$primaryFont: "PT Sans", "Arial", "Helvetica", sans-serif;

$baseFontSize: 13px;

$colorPrimary: #ad0000;
$colorAccent: #8b0000;
$colorSecondary: #2bc2cd;

$colorBgLight: #fbfbfb;

$colorText: #555;
$colorMeta: #a0a0a0;
$colorBorder: #ca5959;

$colorMenu: #555;

$fontFamilyCondenced: "Open Sans Condensed", "Arial", "Helvetica", sans-serif;
$colorHeading: #000;

$secondaryMenuColor: #ada08e;
